.bodyer {
    position: absolute;
    left: 0;
    right: 0;
    background: white;
    margin: auto;
    .content {
        margin-top: 30px;
    }
}
body {
    background: #E7E7E7;
    list-style: none;
    text-decoration: none;
}